h1 {
    font-size: 50px;
    text-align: center;
    color: #fd8300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
}